*{
	font-family: Microsoft JhengHei;
	font-weight:900;
}
body{
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-image: url(../img/menu_background.jpg);
	background-size: cover;
	background-position: 40% 50%;
	position: relative;

}
.container a{
	letter-spacing: 0.1em;	
	position: absolute;
	top: 4%;
	left: 93.5%;
	font-size: 30px;
	text-decoration: none;
}
.container a:hover{
	color:#C7B09E;
}
.container h1{
	position: relative;
	top:5%;
	letter-spacing: 0.2em;
}

.container{
	position: relative;
	top:5%;
}
.card{
	border: 0px;
}
.card-header{
	background-color:#A38D78;
}
.card-body{
	letter-spacing: 0.1em;
	font-size:14px;
	background-color: #5E4E4B;
}
.form-control{
	border: 2px solid black;
	width: 40%;
	margin: 5px 0;
}
.findTable{
	position: relative;
	top: 3%;	
	width: 100%;
}
table{
	width: 100%;
}
table thead {
	background-color:#A38D78;
}
table thead tr th{
	 text-align: center;
}


table tbody tr{
	font-size: 14px;
	background-color:  #5E4E4B;
}
table tbody tr td{
	border: 2px solid black;
}
hr {
	position: relative;
	margin-top: 4%;
	border: 1.5px solid black;
}
h1{
	position: relative;
	font-weight: 1000;
	top:15px;
}
a{
	position: relative;
	margin-top: 1%;
	color:black;
}