*{
	font-family: Microsoft JhengHei;
	font-weight:900;
}
body{
	padding: 0;
	margin: 0;
}
hr{
	width: 50%;
	border: 1.5px solid black;
}
.bgd{
	width: 100vw;
	height: 100vh;
	background-image: url(../img/menu_background.jpg);
	background-size: cover;
	background-position: 40% 50%;
	position: relative;
}
.container{
	position: absolute;
	top:25%;
	left:37.5%;
	width: 50%;
}
.form-control{
	border: 2px solid black;
	width: 50%;
	margin: 5px 0;
}
.container h3{
	position: relative;
	top:0.35em;
	left: 19.5%;
	letter-spacing: 0.2em;
	font-weight: 1000;
}
.mb-3 label{
	position: relative;
	left:0.4em;
	top:0.5em;
	letter-spacing: 0.1em;
}
.btn{
	position: relative;
	left: 7.6em;
	top:1em;
	font-weight: 1000;
/*	font-size: 28px;*/
	letter-spacing: 0.2em;
}
.btn:hover{
	color:#C7B09E;

}
